{
  "ignorePatterns": ["dist"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "overrides": [
    {
      "files": ["src/**/*Slice.jsx"],
      "rules": { "no-param-reassign": ["error", { "props": false }] }
    }
  ]
}